
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center><img src="C:\Users\Grand\Desktop\ExpIT\Lab25_New\Lab25_New\1D.jpg" alt="One Direction" /></center>
    <div>

        <center> <p> @Html.ActionLink("Click here to take you to the form.", "Form")</p></center>
    </div>
</body>
</html>
