@model Lab25_New.Models.FormResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
 
        <div>
            <h1> Thank you, @Model.FirstName @Model.LastName!</h1>
        </div>
</body>
</html>
